body{
	background-color:#0f2e51;
	padding:0;
	margin:0;
}
section{
		padding:20px;
}
h1{
	margin:0 0 15px 0;
	color:white;
	font-size:20pxpx;
	font-weight:500;
	font-family:'poppins',sans-serif;
	text-transform:uppercase;
	letter-spacing:1.1px;
}
p{
	text-align:justify;
}
#readmore
{
	display:none;
}
.more{
	display:none;
}
.About{
	color:white;
	font-size:15pxpx;
	text-align:justify;
	line-height:20pxpx;
	font-family:'work sans',sans-serif;
}
button{
	margin-top:15px;
	display:block;
	background-color:#333S;
	color:black;
	border:none;
	outline:none;
	padding:8px 20px;
	text-transform:capitalize;
	cursor:;pointer;
	font-size:20px;
}